<div id="{{mojit_view_id}}">
    <h1>Installing Mojito</h1>
    <p>First <a href="http://nodejs.org/#download">Install node.js</a>, then:</p>
    <pre><code>
$ sudo npm i mojito -g
$ sudo npm i supervisor -g
    </code></pre>
    <h2>Git These Slides</h2>
    <p><a href="https://github.com/gzip/mojito-app">Browse at GitHub</a> or <a href="http://git-scm.com/download">Install git</a>, then:</p>
    <pre><code>
$ git clone git://github.com/gzip/mojito-intro.git && cd mojito-intro
$ npm i highlight
$ supervisor -w . -e 'js|json|html' start.js
    </code></pre>
    <p>And open your browser to <span class="subtext">http://localhost:8777/</span></p>
    {{{nav}}}
</div>
