<div id="{{mojit_view_id}}">
    <h1>What is Mojito?</h1>
    <ul>
        <li><a href="http://developer.yahoo.com/cocktails/mojito/">Mojito</a> is an open source MVC framework that runs on the client and/or server via node.js.</li>
        <li>The core component in Mojito is a mojit (not quite a module, not quite a widget).</li>
    </ul>
    <h2>Mojito Features</h2>
    <ul>
        <li>Mojito is built on YUI 3 (and expects components to be built on YUI 3).</li>
        <li>Mojito can execute components on the client, server, or both.</li>
        <li>Mojito supports a rich configuration framework.</li>
        <li>Mojito's default view engine is Mustache.</li>
        <li>Mojito supports inter-mojit communication via broadcasting.</li>
        <li>Mojito does routing, localization and lazy loading of mojits.</li>
        <li>Mojito comes with a unit testing framework (YUI Test).</li>
        <li>Mojito is <a href="https://github.com/yahoo/mojito/tree/master">open source</a>!</li>
    </ul>
    {{{nav}}}
</div>
