<div id="{{mojit_view_id}}" data-slide="5">
    <h1>Mojito Request Flow</h1>
    <ul>
        <li>Middleware (Express)</li>
        <li>Routing (<code>routes.json</code>)</li>
        <li>App Configuration (<code>application.json</code>)</li>
        <li>Controllers (<code>controller.{affinity}.js</code>)</li>
        <li>Models (<code>{name}.{affinity}.js</code>)</li>
        <li>Views (<code>{action}.{engine}.html</code>)</li>
        <li>Binders (<code>{action}.js</code>)</li>
        <li>Addons and Autoloads</li>
        <li>Assets</li>
    </ul>
    <p><a href="/">Example App</a></p>
</div>
