<div id="{{mojit_view_id}}" data-slide="2">
    <h1>Mojito Features</h1>
    <ul>
        <li>Mojito is built on YUI 3 (and expects components to be built on YUI 3).</li>
        <li>Mojito can execute components on the client, server, or both.</li>
        <li>Mojito supports a rich configuration framework.</li>
        <li>Mojito's default view engine is Mustache.</li>
        <li>Mojito does routing.</li>
        <li>Mojito does localization.</li>
        <li>Mojito supports lazy loading of mojits.</li>
        <li>Mojito comes with a unit testing framework (YUI Test).</li>
    </ul>
</div>
