<div id="{{mojit_view_id}}">
    <h1>Assets</h1>
    <ul>
        <li>Assets are CSS files, images, or non-YUI libs. They have no affinity.</li>
        <li>Mojito is not aware of these types of files and will not deploy them automatically.</li>
        <li>Assets may be included in <code>application.json</code> or a controller. In either case the <code>HTMLFrameMojit</code> must be used.</li>
    </ul>
    <pre><code>
"specs": {
    "foo": {
        "type": "HTMLFrameMojit",
        "config": {
            ...
            "assets": {
                "top": {
                    "css": [
                        "/static/assets/app.css"
                    ...
    </code></pre>
    <pre><code>
ac.assets.addCss('/static/Foo/assets/foo.css', 'top');
    </code></pre>
    {{{nav}}}
</div>
