<div id="{{mojit_view_id}}">
    <h1>Mojito Terminology</h1>
    <dl>
        <dt>action context</dt>
        <dd>The central access point to the rest of Mojito in a controller.</dd>
        <dt>affinity</dt>
        <dd>Determines where a resource will be executed; <code>client</code>, <code>server</code>, or <code>common</code>.</dd>
        <dt>binder</dt>
        <dd>Binders only execute in the client and provide access to the controller.</dd>
        <dt>context</dt>
        <dd>A set of key/value pairs which is used to resolve configuration.</dd>
        <dt>dimensions</dt>
        <dd>A set of keys and their possible values which are used to set <em>context</em>.</dd>
        <dt>view</dt>
        <dd>Template used to render the final output.</dd>
    </dl>
    <p>More in the <a href="http://developer.yahoo.com/cocktails/mojito/docs/reference/glossary.html">Mojito glossary</a></p>
    {{{nav}}}
</div>
