<div id="{{mojit_view_id}}">
    <h1>Middleware</h1>
    
    <ul>
        <li>Middleware is built on <a href="http://expressjs.com/">Express</a> and only executes on the server. This is the only place where you'll recognize that Node.js is being used.</li>
    </ul>
    
    <pre><code>
module.exports = function (req, res, next) {
    // do something
    next();
};
    </code></pre>
    
    <ul>
        <li>Middleware has limited access to the rest of Mojito.</li>
        <li>Mojito ships with several pieces of middleware including <a href="https://github.com/yahoo/mojito/blob/master/source/lib/app/middleware/mojito-contextualizer.js">contextualizer</a>, static asset handler, request tunnel, body parser, cookie parser, and router.</li>
        <li>Custom middleware can be configured in <code>application.json</code>.</li>
    </ul>
    
    <pre><code>
"middleware": [
    "./middleware/src-handler.js"
]
    </code></pre>
    <p><a href="/src/middleware/src-handler.js">Example middleware</a></p>
    {{{nav}}}
</div>
