<div id="{{mojit_view_id}}" data-slide="3">
    <h1>Installing Mojito</h1>
    <ul>
        <li><a href="http://nodejs.org/#download">Install node.js</a></li>
        <li><code>$ sudo npm i mojito -g</code></li>
        <li><code>$ sudo npm i nodemon -g</code> (optional)</li>
    </ul>
    <h2>Git These Slides</h2>
    <ul>
        <li><a href="http://git-scm.com/download">Install git</a></li>
        <li><code>$ git clone git://github.com/gzip/mojito-app.git</code></li>
        <li><code>$ cd mojito-app && nodemon -w . start.js</code></li>
    </ul>
</div>
