<div id="{{mojit_view_id}}">
    <h1>Application Configuration</h1>
    <ul>
        <li>Stored in <code>application.json</code>.</li>
        <li>Can vary based on context.</li>
        <li>Configures YUI in <code>yui</code>.</li>
        <li>Configures logging in <code>log</code>.</li>
        <li>Configures mojits for routing in <code>specs</code>.</li>
        <li>May contain arbitrary configuration used by your app.</li>
    </ul>
    <p><a href="/src/application.json">Example configuration</a></p>
    {{{nav}}}
</div>
